{{#if userInSession}} 
    <h2>{{userInSession.firstname}} {{userInSession.lastname}}</h2>
    <img src="" alt="userAvatar"/>
    <a href="/mygifts/add">Ajouter un cadeau</a>
    <a href="/mestrocs">Demandes et propositions de trocs</a>
    {{!-- <a href="/mesfavoris">Mes favoris</a> --}}

    <div>
        <h3>Ma liste de cadeaux</h3>
        
        {{#each giftFromDb}}
          <img src="" alt="giftImg"/>
          <a href="/mygifts/{{id}}">{{name}}</a>
          <a href="/mygifts/{{id}}/edit">Update</a>
        {{/each}}
    </div>
{{else}}
    <p>Connectez-vous !</p>
{{/if}}