{{#if userInSession}} 
    <h2>{{userInSession.firstname}} {{userInSession.lastname}}</h2>
    {{!-- <img src="userInSession.avatar"/> --}}
    <a href="/ajouteruncadeau">Ajouter un cadeau</a>
    <a href="/statutdestrocs">Demandes et propositions de trocs</a>
    {{!-- <a href="/mesfavoris">Mes favoris</a> --}}

    <div>
        <h3>Ma liste de cadeaux</h3>
        
        {{#each giftFromDb}}
          {{!-- <img src="" alt=""/> --}}
          <a href="/mygifts/{{id}}">{{name}}</a>
          <a href="/update">Update</a>
          <a href="/delete">Delete</a>
        {{/each}}
    </div>
{{else}}
    <p>Connectez-vous !</p>
{{/if}}