{{#if userInSession}} 
    <h2>{{userInSession.firstname}} {{userInSession.lastname}}</h2>
    <img src="{{userInSession.avatar}}" alt="userAvatar"/>
    <a href="/mygifts/add">Add a gift</a>
    <a href="/transactionsstatus">My barters</a>
    
    <div>
        <h3>My gifts list</h3>
        {{#each giftFromDb}}
          <img src="{{this.picture}}" alt="giftImg"/>
          <a href="/mygifts/{{id}}">{{name}}</a>
          <a href="/mygifts/{{id}}/edit">Update</a>
          <form action="/mygifts/{{id}}/delete" method="POST">
            <button>Delete</button>
          </form>
        {{/each}}
    </div>

  {{#if messages.error}}
    <h2>{{messages.error}}</h2>
  {{/if}}

  {{else}}
    <p>Log in</p>
{{/if}}