<link rel="stylesheet" href="/stylesheets/style-myprofile.css" />

{{#if userInSession}} 
   <div id="success">
      <h1>Congrats for your trade with {{giftproposed.user.username}} <br> <img id="successphoto" src="{{giftproposed.user.avatar}}" alt="useravatar"/></h1>
      <p class="contact"> You can contact {{giftproposed.user.username}} at <strong>{{giftproposed.user.email}}</strong> to discuss the details.</p>
   </div>

{{else}}
   <div class="login">
     <a href="/login">Please log-in or sign-up to start trading with our community !</a>
   </div>
{{/if}} 