{{#if userInSession}} 

<h1> Transactions status</h1>

<h2> Tradings I have requested </h2>

    {{#each transactionsIaskedfor}}
    <p>Gift I would like to have : <a href="/gifts/{{this.giftA.id}}">{{this.giftA.name}}</a></p>
    <p>Gift I proposed: <a href="/mygifts/{{this.giftB.id}}">{{this.giftB.name}}</a></p>
    <p>On : {{this.createdAt}}</p>
    <p>Status : {{this.status}}</p>
    {{/each}}

<br><br> 

<h2> Pending tradings requested by others users </h2>

    {{#each transactionsIamaskedfor}}
    <p>Gift I have : <a href="/mygifts/{{this.giftA.id}}">{{this.giftA.name}}</a></p>
    <p>Gift proposed to me: <a href="/gifts/{{this.giftB.id}}">{{this.giftB.name}}</a> from {{this.giftB.brand}} (category : {{this.giftB.category}})</p>
    <p>On : {{this.createdAt}}</p>
    <p>Status (click to update) : <a href="/transaction/{{this.id}}">{{this.status}}</a></p>

    {{/each}}

<a href="/profile">Return to my profile</a>

{{else}}
    <p>Log in</p>
{{/if}} 