<link rel="stylesheet" href="/stylesheets/style-myprofile.css" />
{{#if userInSession}} 



<h1 class="status">My trades details</h1>

<div class="container-status">

    <div class="box-status">
        <h2 class="status">Sent Offer(s)</h2>

        <div class="box-status-content">
            <h3>Pending</h3>
            
                <div class="box-status-content-offer">
                    {{#each transactionsIaskedfor}}
                    <p> I am interested in <a class="offer-item" href="/gifts/{{this.giftA.id}}">{{this.giftA.name}}</a>
                    in exchange of my <a class="offer-item" href="/mygifts/{{this.giftB.id}}">{{this.giftB.name}}</a>.</p>
                    <p class="transaction-id">Offer sent on : {{this.createdAt}}</p>
                    <p class="transaction-status">Status : {{this.status}}</p>
                
                    {{!- implement with ul li to avoid the break-}}
                    <br>
                    {{/each}}
                
                    </div> 

            <h3>Finalized</h3>
                <div class="box-status-content-offer">
                    {{#each answeredtransactionsIaskedfor}}
                    <p>I suggested my <a class="offer-item" href="/mygifts/{{this.giftB.id}}">{{this.giftB.name}}</a>
                    in exchange of <a class="offer-item" href="/gifts/{{this.giftA.id}}">{{this.giftA.name}}</a>.</p>
                    <p class="transaction-id">On : {{this.createdAt}}</p>
                    <p class="transaction-status">Status : {{this.status}}</p>
                    {{!- implement with ul li to avoid the break-}}
                    <br>
                {{/each}}
                </div>
        </div>
    
    </div>


    <div class="box-status">
        <h2 class="status"> Received Offer(s) </h2>

        <div class="box-status-content">
            <h3 class="status">Pending my approval</h3>

            <div class="box-status-content-offer">
                {{#each transactionsIamaskedfor}}
                <p> <mark> Exchange my <a class="offer-item" href="/mygifts/{{this.giftA.id}}">{{this.giftA.name}}</a>
                for <a class="offer-item" href="/gifts/{{this.giftB.id}}">{{this.giftB.brand}} {{this.giftB.name}}</a>  (category : {{this.giftB.category}}) ? </mark></p>
                <p class="transaction-id">On : {{this.createdAt}}</p>
                <p class="transaction-status">Status (click to update) : <a href="/transaction/{{this.id}}">{{this.status}}</a></p>
                {{!- implement with ul li to avoid the break-}}
                <br>
                {{/each}}
            </div>

            <h3 class="status">Finalized</h3>
            <div class="box-status-content-offer">
                {{#each transactionsupdated}}
                <p> Exchange status of <a class="offer-item" href="/gifts/{{this.giftB.id}}">{{this.giftB.brand}} {{this.giftB.name}}</a> (category : {{this.giftB.category}})
                for my <a class="offer-item" href="/mygifts/{{this.giftA.id}}">{{this.giftA.name}}</a> : {{this.status}}
                <p class="transaction-id">On : {{this.createdAt}}</p>
                {{!- implement with ul li to avoid the break-}}
                <br>
                {{/each}}
            </div>
        </div>
    </div>

</div>

{{else}}
<div class="login">
  <a href="/login">Please log-in or sign-up to start trading with our community !</a>
</div>
{{/if}} 
