{{#if userInSession}}
 <h2>"{{giftDetails.name}}" proposed by {{giftDetails.user.username}} ({{giftDetails.user.city}})</h2>

  <img src="{{giftDetails.picture}}" alt="photo">

  <p>Description : {{giftDetails.description}}</p>


 <form action="/gifts/{{giftDetails.id}}" method="POST">
  <label>
    My gifts 
    <select name="mygifts" multiple>
      {{#each giftsFromDb}}
        <option value={{this.id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </label>
 
  <button>Offer a barter</button>
</form>

<a href="/profile">Return to my profile</a>
{{else}}
  <p>Log in</p>
{{/if}}