<link rel="stylesheet" href="/stylesheets/style-displaygift.css" />
<h1>{{category}} </h1>

<div class="displaygift-count">
{{giftsOfSelectedCategory.length}} gift(s) available
</div>

<ul class="displaygift-container">
  {{#each giftsOfSelectedCategory}}

  <li class="displaygift-container__box">

    <div class="displaygift-box">

<<<<<<< HEAD
    
=======

>>>>>>> 7a1d1f43c15dfa3c44b23b90c1105e37f4ced88e

      <div class="displaygift-box-image">
      <img src="{{this.picture}}" alt="giftImg"/>
      </div>

      <div class="displaygift-box-content">
        <div class="displaygift-box-title">
<<<<<<< HEAD
        <p class="displaygift-box-title">{{this.name}}</p>
        <p class="displaygift-box-brand">{{this.brand}}</p>
      </div> 
      <p class="displaygift-box-text"></p>
      <button class="displaygift-box-btn displaygift-box-btn--block"><a href="/gifts/{{id}}"><p>GO</p></a></button>


      {{/each}}
=======
          <p class="displaygift-box-title">{{this.name}}</p>
          <p class="displaygift-box-brand">{{this.brand}}</p>
        </div> 
        <p class="displaygift-box-text"></p>
        <button class="displaygift-box-btn displaygift-box-btn--block"><a href="/gifts/{{id}}"><p>GO</p></a></button>

      </div>
>>>>>>> 7a1d1f43c15dfa3c44b23b90c1105e37f4ced88e

    </div>

  </li>
<<<<<<< HEAD

</ul>
=======
  
  {{/each}}

</ul>

<div class="footer-previouspage">
<a href="/gifts">Return to all categories</a>
</div> 
>>>>>>> 7a1d1f43c15dfa3c44b23b90c1105e37f4ced88e
