<link rel="stylesheet" href="/stylesheets/style-displaygift.css" />

{{#if userInSession}}

<div class="displaygiftdetail-container">
  <div class="displaygiftdetail-box">

    <div class="displaygift-box-fullimage">
    <img class="fullimg" src="{{giftDetails.picture}}" alt="photo">
    </div>

    <div class="displaygiftdetail-box-content">

       <div class="displaygift-box-title">
        <p>{{giftDetails.name}} details<p>
        <p class="displaygift-box-brand">Brand: {{giftDetails.brand}}</p>
        <p class="displaygift-box-brand">Category: {{giftDetails.category}}</p>
      </div>

      <p class="displaygift-box-description">Description : {{giftDetails.description}}</p>

    </div>

   

  </div>
</div>

<div class="footer-previouspage">
<a href="/profile">Return to my profile</a>

{{else}}
<p>Log in</p>
{{/if}}
</div>