{{#if userInSession}}
<h1>Edit : "{{giftToEdit.name}}" </h1>

<form action="/mygifts/{{giftToEdit.id}}/edit" method="POST" enctype="multipart/form-data">

  <label>
      Name
      <input type="text" name="name" value="{{giftToEdit.name}}">
  </label>

  <label>
      Category
      <select multiple name="category">
        <option value="books">Books</option>
        <option value="boxes">Boxes</option>
        <option value="fragrances">Fragrances</option>
        <option value="toys">Toys</option>  
      </select>
  </label>

  <label>
      Brand
      <input type="text" name="brand" value="{{giftToEdit.brand}}">
  </label>

  <label>
      Description
      <textarea name="description"> {{giftToEdit.description}}
      </textarea>
  </label>

  <label>
        Picture
        <input type="file" name="picture" value="{{giftToEdit.picture}}"/>
    </label>

   <button>Edit</button>
  
</form>

<a href="/profile">Return to my profile</a>
{{else}}
  <p>Log in</p>
{{/if}}