<h1>Edit my gift {{giftToEdit.name}} </h1>

<form action="/mygifts/{{giftToEdit.id}}/edit" method="POST">

  <label>
      Name
      <input type="text" name="name" value="{{giftToEdit.name}}">
  </label>

  <label>
      Category
      <select multiple name="category">
        <option value="books">Book</option>
        <option value="boxes">Box</option>
        <option value="fragrances">Fragrance</option>
        <option value="toys">Toy</option>  
      </select>
  </label>

  <label>
      Brand
      <input type="text" name="brand" value="{{giftToEdit.brand}}">
  </label>

  <label>
      Description
      <textarea name="description"> {{giftToEdit.description}}
      </textarea>
  </label>

  {{!-- <label>
      Photos
      <input type="text" name="photos">
  </label> --}}

   <button>Edit</button>
  
</form>

<a href="/profile">Return to my profile</a>